<style type="text/css">
h1, h3{
font-family: verdana;
color: yellow;
}
p{
  color: black;
}
header{
background-color: #3CB371;
height: 150px;
color: black;
padding: 6px 11px 11px;
}
body{
  font-family: Verdana;
  font-size: 16px;
  background-color: #FFE4E1;
  margin-left: 300px;
  margin-right: 300px;
}
a{
  background-color: black;
  color: white;
  font-size: 20px;
  width: 400px;
  height: 50px;
  padding: 10px 40px;
  margin-left: 10px;
  }
a:hover{
background-color: #3CB371;
color: yellow;
}

table, th, td{border: 2px; border-style: solid; align: center;font-size: 12px;
  background-color: #D8BFD8;
  opacity: 0.85;
  width:450px;
  height: auto;
  padding: 5px;
  margin-left: 400px;
  margin-right:400px;
}
footer{
background-color: #5F9EAC;
font-size: 14px;
font-weight: bold;
height: 121px;
padding:12px 10px 11px;
}
  </style>
