/* Style inputs, select elements and textareas */
<style type="text/css">
h1, h3{
font-family: verdana;
color: yellow;
}
H2 { text-align: center }

p{
font-size: 14px;
font-weight: bold;
color: black;
}
P.blocktext {
margin-left: auto;
margin-right: auto;
}
header{
background-color: #3CB371;
height: 150px;
color: black;
padding: 6px 11px 11px;
}
body{
  font-family: Verdana;
  font-size: 16px
  color:#5F9EAC;
  background-color: #FFE4E1;
  margin-left: 300px;
  margin-right: 300px;
  }
  a{
    background-color: black;
    color: white;
    font-size: 20px;
    width: 400px;
    height: 50px;
    padding: 10px 40px;
    margin-left: 10px;
    }
    a:hover{
    background-color: #3CB371;
    color: yellow;
    }
   input[type="text"], input [type="email"], textarea, button{
        display: block;
        font-weight: bold;
        margin: auto;
        width: 400px;
        height: 30px;
        color: black;
        align: center;
        border-radius: 4px;
      }
      input [type="email"]{
        width: 400px;
        height: 30px;
        color: black;
        font-weight: bold;
      }
    textarea{
      height: 200px;
      background-color: #F5F5F5;
      font-weight: bold;
      color: black;
      padding 5px 5px;
    }
    button:active{
      background-color: lightblue;
      color: blue;
      border-radius: 8px;
    }
    form{
      align: center;
      font-size: 16px;
      font-weight: bold;
        }

Footer{
background-color: #5F9EAC;
font-size: 14px;
font-weight: bold;
height: 121px;
padding:12px 10px 11px;
}
</style>
