<style type="text/css">
[class*="col-"]{
  width:100%;
}
@media only screen and (min-width: 768px) {
  [class*="col-"]
.col-1 {width: 8.33%}
.col-2 {width: 16.66; float: left;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%; float: right;}
.col-10 {width: 83.33%}
.col-11 {width:91.66%}
.col-12 {width: 100%}
p{font-family: 'Smooch', sans-serif;
color: white;
line-height: 20px;
padding-left: 15px;
padding-right: 15px;
}
h2{font-family: 'Montserrat', sans-serif;
color: yellow;
padding-left: 15px;
padding-right: 15px;
}
h5{font-family: 'Montserrat', sans-serif;
color: yellow;
padding-left: 15px;
padding-right: 15px;
}
.header{
  width: 100%;
  position: relative;
  text-align: center;
  font-style: oblique;
  font-size: 72px;
  font-weight: bold;
  color: yellow;
  background-color: #666633;
}
.row{
  width: 16.66%;
  background-color: #0099CC;
  padding-left: 10px;
}
.div1{
  width: 75%;
  background-color: #3366CC;
  padding-left: 10px;
  padding-right:10px;
  padding-bottom: 10px;

  }
  .div2{
  width: 75%;
  background-color: olive;
  padding-left: 10px;
  padding-right:10px;
  padding-bottom: 5px;
  }
  .centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: yellow;
  }
.footer{
width: 100%;
float: left;
background-color: #666633;
}
</style>
